<h1>Editing pan detail</h1>

<%= render "form", pan_detail: @pan_detail %>

<br>

<div>
  <%= link_to "Show this pan detail", @pan_detail %> |
  <%= link_to "Back to pan details", pan_details_path %>
</div>
